*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.Heading {
  text-align: center;
  margin: 0;
  background-color: #57886c;
}

.bgContainer {
  background-image: url(./images/background-image.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.contentContainer {
  min-width: 85%;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e3dbdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.Nav {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  background-color: #29a358;
}


.Main {
  display: flex;
  flex-direction: row;
  opacity: 1;
  flex-grow: 1;
  border-top: 1px solid black;
}

.Section {
  flex-grow: 1;
  margin: 10px;
}

.Aside {
  width: auto;
  border-left: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Location {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#locationHeader {
  margin-bottom:5px;
  margin-top:0;
  text-align: center;
}

.Weather {
  text-align: center;
  border-style: double;
  border-color:hsla(hue, saturation, lightness, alpha);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #96b5e3;
}

h2 {
  margin-block-start: 2px;
  margin-block-end: 2px;
}

h4 {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

#iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#weatherIcon {
  margin-left: 5px;
  width: 64px;
  height: 64px;
  padding: 0;
}

#tempContainer {
  text-align: center;
}

#rainContainer {
  text-align: center;
}

.contactFormContainer {
  width: 350px;
}

.Footer {
  border-top: 1px solid black;
  display: flex;
  min-height: 40px;
  flex: row;
  justify-content: left;
}

.Copyright {
  display: flex;
}



.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 350px;
  width: auto;
  padding: 0;
  margin: 0;
}

.mapouter {
  height: 350px;
  width: 350px;
  padding: 0;
  margin: 0;
}

img {
  width: 100px;
  height: 100px;
  padding-left: 20px;}

#team1 {
  display: flex;
  flex-direction: row;
}

#team2 {
  display: flex;
  flex-direction: row;
}

#team1Name {
  display: flex;
  flex-direction: row;
  height: 30px;
}

#team2Name {
  display: flex;
  flex-direction: row;
  height: 30px;
}



.results_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

p {
  margin-block-start: 2px;
  margin-block-end: 2px;
}


.timetable_table_component {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sports_list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  display: inline-block;
}

button {
  background-color: #29a358;
  border: none;
}

button:hover {
  background-color:#57886c;
  border: 1px solid
}

button:active {
  background-color:#96b5e3;
}

.btnStyle {
  width: 150px;
  height: 50px;
  border-right: 1px solid black;
}
table {
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 4px;
}

tr:nth-child(even){
  background-color: #29a358;
}

tr:nth-child(odd) {
  background-color: #57886c;
}

th {
  background-color:#e3dbdb;
}
