*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root, .App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.Heading {
  text-align: center;
  margin: 0;
  background-color: #57886c;
}

.bgContainer {
  background-image: url(./images/background-image.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.contentContainer {
  min-width: 85%;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e3dbdb;
  opacity: 0.91;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.Nav  {
  display: flex;
  flex-flow: row, wrap;
  opacity: 1;
  justify-content: left;
  background-color: #29a358;
}

.Main {
  display:  flex;
  flex-direction: row;
  opacity: 1;
  flex-grow: 1;
  border-top: 1px solid black;
  padding-left: 15px;
}

.Section {
  flex-grow: 1;
}

.Aside {
  min-width: 400px;
  border-left: 1px solid black;
  padding-left: 15px;

}

.contactFormContainer {
  min-width: 100px;
  width: 100px;
}

.btnContainer {
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid black;
  background-color: #29a358;
}

.Copyright {
  display: flex;
}

.Footer {
  border-top: 1px solid black;
  display: flex;
  min-height: 40px;
  flex: row;
  justify-content: left;
}